*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(iimages/lisa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.th1, .th2, .th3 {
  background-color: rgb(247, 227, 201);
}
nav{
  background-color:transparent;
  width: 100%;
  padding: 15px 30px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
nav a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color:pink; 
  transform: scale(1.1); 
}
@media (max-width:800px){
  nav{
      font-size: 16px;
      gap: 20px;
      padding: 10px;
  }
}
nav a{
  display: block;
  text-align: center;
  width: 100%;
}
@media (max-width:1439px){
  nav{
      font-size: 16px;
      gap: 20px;
      padding: 10px;
  }
nav a{
  display: block;
  text-align: center;
  width: 100%;
}
}